<h1>DOCTOR AND PATIENT INFORMATION</h1>
<h2>Add Details</h2>
<div class="card">
   
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Doctor
      </button>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal">
        Update Doctor
      </button>
    



<button type="button" name="addpatient" class="addpatient">Add Patient</button>
<button type="button" name="Viewpatient" class="viewpatient">View All patient</button>

  
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title text-danger" id="exampleModalLabel">Add Doctor Information!</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-danger">
            <label for="doctorid">Doctor ID</label>
            <input type="text" name="doctorid">

            
        </div>
        <div class="modal-body text-danger">
            <label for="name">Doctor name</label>
            <input type="text" name="doctorname">

            
        </div>
        <div class="modal-body text-danger">
            <label for="address">Doctor address</label>
            <input type="text" name="doctoraddress">

            
        </div>
        <div class="modal-body text-danger">
            <button type="button" class="submitbtn">Submit</button>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title text-danger" id="exampleModalLabel">Update Doctor Information!</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-danger">
            <label for="doctorid">Doctor ID</label>
            <input type="text" name="doctorid">

            
        </div>
        <div class="modal-body text-danger">
            <label for="name">Doctor name</label>
            <input type="text" name="doctorname">

            
        </div>
       





        <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
          </div>
